@import url("https://fonts.googleapis.com/css?family=Questrial");
@import url("https://fonts.googleapis.com/css?family=Mukta&display=swap");
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

#strelica {
  position: fixed;
  z-index: 9999;
  right: 2%;
  bottom: 2%;
  font-size: 45px;
}

#strelica i {
  color: #0b3850;
}

#strelica i:hover {
  color: #15a3b6;
}

header {
  position: fixed;
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #b4b4b4;
  z-index: 999;
  border-bottom: 4px solid #504f4f;
}

header .cistac {
  clear: both;
}

header #meni {
  width: 80%;
  list-style-type: none;
  font-weight: 700;
  font-size: 14px;
  float: right;
  margin-right: 10px;
  padding-bottom: 25px;
}

header #meni ul {
  margin-top: 30px;
  margin-right: 45px;
}

header #meni ul li {
  display: inline-block;
  margin-left: 70px;
  border-left: 2px solid #0b3850;
  border-right: 2px solid #0b3850;
  padding: 8px;
}

header #meni ul li a {
  text-decoration: none;
  color: #215370;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Questrial', sans-serif;
}

header #meni ul li a:hover {
  color: #15a3b6;
}

#sredina {
  width: 100%;
  height: 700px;
  background-image: url("../img/pozadina.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#sredina #box {
  width: 100%;
  position: relative;
  height: 100%;
}

#sredina #box #boxtext {
  width: 60%;
  padding: 10px;
  position: absolute;
  top: 35%;
  left: 20%;
  background-color: rgba(33, 115, 156, 0.5);
  border-radius: 9px;
}

#sredina #box #boxtext h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

#sredina #box #developer {
  width: 40%;
  padding: 10px;
  position: absolute;
  top: 60%;
  left: 30%;
  background-color: rgba(33, 115, 156, 0.5);
  border-radius: 9px;
}

#sredina #box #developer h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

#oSebi {
  width: 100%;
  height: auto;
  background-color: #e0dede;
  border-top: 4px solid #504f4f;
}

#oSebi h2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 45px;
  font-size: 48px;
  color: #1B5675;
  font-family: 'Questrial', sans-serif;
}

#oSebi #glavno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 40px;
  padding-top: 30px;
}

#oSebi #glavno #border {
  border-right: 2px solid #1B5675;
  padding-right: 75px;
}

#oSebi #glavno .stavke {
  width: 40%;
}

#oSebi #glavno .stavke #ja {
  border-radius: 10%;
  margin-left: 15%;
}

#oSebi #glavno .stavke h3 {
  text-align: center;
  padding-bottom: 45px;
  font-size: 25px;
  color: #1B5675;
  font-family: 'Questrial', sans-serif;
}

#oSebi #glavno .stavke p {
  margin-left: 10%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 25px;
  color: #13445f;
  font-family: 'Questrial', sans-serif;
}

#vestine {
  width: 100%;
  height: auto;
  background-image: url("../img/vestine.jpg");
  background-size: cover;
  background-attachment: fixed;
  border-top: 4px solid #504f4f;
  padding-bottom: 80px;
}

#vestine h2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 45px;
  font-size: 48px;
  color: #1bb5db;
  font-family: 'Questrial', sans-serif;
}

#vestine #jezici {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  padding-bottom: 35px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#vestine #jezici #sass:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  z-index: 1;
}

#vestine #jezici .simg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10px;
}

#vestine #jezici .simg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 3;
}

#vestine #jezici img {
  border: 3px solid #1e4163;
  border-radius: 20%;
}

#pik {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pik #projekti {
  width: 50%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0dede), to(#222));
  background: linear-gradient(to bottom, #e0dede, #222);
  border-top: 4px solid #504f4f;
  border-right: 4px solid #504f4f;
  padding-bottom: 40px;
}

#pik #projekti h2 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 45px;
  font-size: 48px;
  color: #1B5675;
  font-family: 'Questrial', sans-serif;
}

#pik #projekti #projekat {
  width: 80%;
  height: 50%;
  margin-left: 9%;
  margin-top: 4%;
  margin-bottom: 3%;
  border-radius: 5%;
}

#pik #projekti #projekat:hover {
  -webkit-box-shadow: 8px 8px 15px #58a2b4;
          box-shadow: 8px 8px 15px #58a2b4;
}

#pik #kontakt {
  width: 50%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#e0dede));
  background: linear-gradient(to bottom, #222, #e0dede);
  border-top: 4px solid #504f4f;
  padding-bottom: 40px;
}

#pik #kontakt h2 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 45px;
  font-size: 48px;
  color: #1B5675;
  font-family: 'Questrial', sans-serif;
}

#pik #kontakt #forma {
  margin: 0px auto;
  width: 350px;
  background-color: rgba(78, 81, 83, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Questrial', sans-serif;
  border-radius: 10px;
  color: #0f2c3b;
  font-size: 20px;
}

#pik #kontakt #forma input[type="text"], #pik #kontakt #forma input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 7px;
  margin-left: 40%;
  border-radius: 5px;
  background-color: #e0dede;
}

#pik #kontakt #forma input[type="submit"], #pik #kontakt #forma [type="reset"] {
  border-radius: 5px;
  padding: 5px;
  background-color: #93b9ca;
  margin-left: 49%;
  margin-top: 10px;
  width: 85%;
}

#pik #kontakt #forma input[type="submit"]:hover, #pik #kontakt #forma [type="reset"]:hover {
  background-color: #3abdc7;
}

#pik #kontakt #forma textarea {
  border-radius: 5px;
  background-color: #e0dede;
  margin-left: 48%;
  width: 88%;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 4px solid #504f4f;
  background-color: #93b9ca;
}

footer p {
  text-align: center;
  margin-top: 1%;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
  color: #0f2c3b;
}

footer #formaFooter {
  width: 50%;
  margin: 0px auto;
}

footer #formaFooter ul {
  list-style-type: none;
  width: 90%;
  margin: 15px auto;
  padding-bottom: 20px;
}

footer #formaFooter ul li {
  float: left;
  margin-left: 18%;
}

footer #formaFooter ul li a {
  text-decoration: none;
  color: #041822;
  font-weight: 1;
}

footer #formaFooter ul li a:hover {
  color: #149cc5;
}

footer #formaFooter ul li a i {
  font-size: 24px;
  color: #0e2b3a;
}

footer #formaFooter ul li a i:hover {
  color: #149cc5;
}

@media screen and (max-width: 480px) {
  body header .cistac {
    clear: both;
  }
  body header #meni {
    font-size: 12px;
    margin: 0% 0% 5% 25% !important;
    width: 80%;
    float: left;
    padding-bottom: 5px;
  }
  body header #meni ul {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 10px;
  }
  body header #meni ul li {
    width: 100%;
    text-align: center;
    margin-top: 5px !important;
    background-color: #35779b;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 10px;
  }
  body header #meni ul li:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    z-index: 3;
  }
  body header #meni ul li a {
    text-align: center;
    color: #d6d6db;
  }
  body #sredina {
    width: 100%;
  }
  body #sredina #box #boxtext {
    top: 50% !important;
    left: 13% !important;
    width: 70% !important;
  }
  body #sredina #box #boxtext h1 {
    font-size: 35px;
    word-wrap: wrap;
  }
  body #sredina #box #developer {
    left: 18% !important;
    top: 75% !important;
    width: 60% !important;
  }
  body #sredina #box #developer h2 {
    font-size: 30px;
  }
  body #oSebi {
    width: 100%;
  }
  body #oSebi h2 {
    font-size: 30px;
  }
  body #oSebi #glavno {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #oSebi #glavno #border {
    border: none;
  }
  body #oSebi #glavno .stavke {
    width: 60%;
  }
  body #oSebi #glavno .stavke p {
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
    margin-left: 44%;
    padding-right: 10px;
    padding-left: 10px;
  }
  body #oSebi #glavno .stavke #ja {
    width: 50%;
    height: 70%;
    margin-left: 58%;
  }
  body #pik {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #pik #projekti {
    width: 100%;
    border-right: none;
  }
  body #pik #projekti h2 {
    font-size: 30px;
  }
  body #pik #kontakt {
    width: 100%;
  }
  body #pik #kontakt h2 {
    font-size: 30px;
  }
  body #pik #kontakt #forma {
    width: 200px;
  }
  body #pik #kontakt #forma input[type="text"], body #pik #kontakt #forma input[type="email"] {
    width: 70%;
    margin-left: 12%;
  }
  body #pik #kontakt #forma input[type="submit"] {
    margin-left: 60px;
    margin-top: 5px;
  }
  body #pik #kontakt #forma textarea {
    display: none;
  }
  body #pik #kontakt #forma [type="reset"] {
    margin-left: 60px;
  }
  body #vestine h2 {
    font-size: 34px;
  }
  body #vestine #jezici {
    margin-top: 40px;
  }
  body #vestine #jezici .simg {
    width: 150px;
    height: 150px;
  }
  body footer {
    height: inherit;
    padding-bottom: 2px;
  }
  body footer p {
    margin-top: 10px;
  }
  body footer #formaFooter {
    width: 100%;
  }
  body footer #formaFooter ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer #formaFooter ul li {
    margin-left: 5%;
  }
  body #strelica {
    display: none;
  }
}

@media screen and (max-width: 635px) {
  header .cistac {
    clear: both;
  }
  header #meni {
    font-size: 22px;
    margin: 0% 0% 5% 20% !important;
    width: 80%;
    float: left;
    padding-bottom: 0px !important;
  }
  header #meni ul {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 10px;
  }
  header #meni ul li {
    width: 750px  !important;
    text-align: center;
    margin-top: 3px !important;
    background-color: #35779b;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 10px;
  }
  header #meni ul li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 3;
  }
  header #meni ul li a {
    text-align: center;
    color: #d6d6db;
  }
}

@media screen and (max-width: 780px) {
  header #meni {
    width: 100%;
  }
  header #meni ul {
    margin-top: 20px;
    margin-left: 0px;
  }
  #sredina #box #boxtext {
    width: 60%;
    padding: 10px;
    top: 42% !important;
    left: 18% !important;
  }
  #sredina #box #developer {
    width: 50% !important;
    left: 23% !important;
    top: 69% !important;
  }
  #oSebi #glavno .stavke #ja {
    width: 85%;
    height: 80%;
    margin-left: 30%;
  }
  #oSebi #glavno .stavke p {
    width: 70%;
    font-size: 20px;
    margin-right: 10px;
  }
  #pik {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #pik #projekti {
    width: 100%;
    border-right: none;
  }
  #pik #projekti #projekat {
    margin-top: 10%;
  }
  #pik #kontakt {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  header #meni {
    margin: 5px auto;
  }
  header #meni ul li {
    margin-left: 4%;
  }
  #sredina #box #boxtext {
    top: 20%;
  }
  #oSebi #glavno #border {
    border: none;
  }
  footer {
    padding-bottom: 20px;
  }
  footer #formaFooter {
    width: 100%;
  }
  footer #formaFooter ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer #formaFooter ul li {
    margin-left: 3%;
  }
}

@media screen and (max-width: 1100px) {
  header #meni {
    margin: 5px auto;
    padding-bottom: 25px;
  }
  header #meni ul {
    margin-right: 10px;
  }
  header #meni ul li {
    margin-left: 30px;
  }
  #sredina #box #boxtext {
    top: 18%;
    left: 2%;
    width: 60%;
  }
  #sredina #box #boxtext h1 {
    font-size: 45px;
    word-wrap: wrap;
  }
  #sredina #box #developer {
    left: 36%;
    top: 85%;
    width: 60%;
  }
  #sredina #box #developer h2 {
    font-size: 40px;
  }
  #pik #projekti #projekat {
    width: 70%;
    height: 30%;
    margin-left: 15%;
    margin-top: 15%;
    border-radius: 15%;
  }
  #pik #kontakt #forma input[type="text"], #pik #kontakt #forma input[type="email"] {
    width: 100%;
    margin-left: 40%;
  }
  #pik #kontakt #forma textarea {
    width: 70%;
    margin-left: 59%;
  }
  #pik #kontakt #forma input[type="submit"], #pik #kontakt #forma [type="reset"] {
    margin-left: 73%;
    margin-top: 10px;
  }
  #pik #kontakt #forma [type="reset"] {
    width: 78px;
  }
  #pik #kontakt #forma input[type="submit"] {
    width: 78px;
  }
}
/*# sourceMappingURL=style.css.map */